@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

//--------------------GLOBAL--------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  color: #e4eef1;
  list-style: none;
  text-decoration: none;
}

//--------------------HEADER--------------------

header {
  //   border: solid 2px yellowgreen;
  height: 16.56vh;
  background-color: #ff69b4;
  display: flex;
  align-items: center;
  justify-content: space-around;

  nav {
    // border: solid 2px red;
    width: 36.59vw;
    height: 5.47vh;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      font-size: 1.7vw;
    }
  }
}

.CaixaLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 1.7vw;
    font-weight: 400;
  }
  // img {
  // }
}

//---------------------MAIN---------------------

main {
  // border: solid 2px blueviolet;
  height: 149.58vh;
  font-size: 1.5vw;
}
.FirstArticle {
  // border: solid 2px blueviolet;
  height: 52.95vh;
  background-color: #ffd9ec;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  p {
    // border: solid 2px brown;
    width: 39.44vw;
    height: 37.22vh;
    color: #000000;
  }

  img {
    width: 23vw;
    @media (max-width: 1500px) {
      width: 21vw;
    }
    @media (max-width: 1300px) {
      width: 25vw;
    }
    @media (max-width: 1100px) {
      width: 27vw;
    }
  }
}

.SecondArticle {
  height: 36.8vh;
  background-color: #ff69b4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  p {
    // border: solid 2px brown;
    width: 39.44vw;
    height: 37.22vh;
    color: #e4eef1;
    display: flex;
    align-items: center;
  }

  img {
    width: 23vw;
    @media (max-width: 1500px) {
      width: 21vw;
    }
    @media (max-width: 1300px) {
      width: 25vw;
    }
    @media (max-width: 1100px) {
      width: 27vw;
    }
  }
}

.ThirdArticle {
  // border: solid 2px red;
  height: 59.82vh;
  background-color: #ffd9ec;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    // border: solid 2px blue;
    width: 74.3vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}

//--------------------FOOTER--------------------

footer {
  // border: solid 2px blue;
  height: 20.07vh;
  background-color: #ff69b4;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  article {
    // border: solid 2px blue;
    width: 74.57vw;
    height: 16.56vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      // border: solid 2px red;
      width: 34.91vw;
      height: 16.56vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .redes {
    // border: solid 2px blue;
    width: 15.77vw;
    height: 9.4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
